/** IBM Plex Font
 * Source: https://github.com/IBM/plex
 * Subset: English-Spanish-Catalan
 * Subset made with: https://www.fontsquirrel.com/tools/webfont-generator
*/

/* Mono Bold */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/astro-blog/fonts/mono/ibm-plex-mono-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Mono Bold Italic */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/astro-blog/fonts/mono/ibm-plex-mono-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Mono Italic */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/astro-blog/fonts/mono/ibm-plex-mono-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Mono Regular */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/astro-blog/fonts/mono/ibm-plex-mono-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Sans Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/astro-blog/fonts/sans/ibm-plex-sans-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Sans Bold Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/astro-blog/fonts/sans/ibm-plex-sans-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Sans Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/astro-blog/fonts/sans/ibm-plex-sans-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Sans Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/astro-blog/fonts/sans/ibm-plex-sans-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Serif Bold */
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/astro-blog/fonts/serif/ibm-plex-serif-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Serif Bold Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/astro-blog/fonts/serif/ibm-plex-serif-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

:root {
  /* Font management */
  /* Use Sans subfamily by default */
  font-family: 'IBM Plex Sans', sans-serif;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;

  /* Center content to improve legibility */
  --max-width: 75ch;
  max-width: var(--max-width);
  margin: auto;
}

/* Use Serif subfamily on headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
}

/* Use Mono subfamily on HTML tags that use Mono by default */
pre, code {
  font-family: 'IBM Plex Mono', monospace;
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}

/* If the user print this site, then this styles get disabled */
@media screen {
  :root {
    /* Palette of Colors */
    --black: #333;
    --white: #f5f5f5;

    /* Contrast Ratio source: https://webaim.org/resources/contrastchecker/
     * - Values calculated with var(--black) as `background-color`. */
    --dark-primary: #FFB224;    /* 7.1 */
    --dark-secondary: coral;    /* 5.05 */
    --dark-tertiary: lightblue; /* 8.27 */

    /* Select link colors mirror the default ones,
     * tailored for contrast with the background color var(--white). */
    --light-primary: #0052A3;   /* 7.04 */
    --light-secondary: #7324BC; /* 7.11 */
    --light-tertiary: #a80000;  /* 7.23 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: var(--white);
      background-color: var(--black);

      --primary: var(--dark-primary);
      --secondary: var(--dark-secondary);
      --tertiary: var(--dark-tertiary);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: var(--black);
      background-color: var(--white);

      --primary: var(--light-primary);
      --secondary: var(--light-secondary);
      --tertiary: var(--light-tertiary);
    }
  }

  /* Colors applied to anchors depending on their states */
  a:link {
    color: var(--primary);
  }
  a:visited {
    color: var(--secondary);
  }
  a:active {
    color: var(--tertiary);
  }
}
