---
const DATE = "2024";

const GITHUB = {
  USERNAME: "pabcrudel",
  REPOSITORY_NAME: "astro-blog",
};
const githubRepoURL =
  "https://github.com/" + GITHUB.USERNAME + "/" + GITHUB.REPOSITORY_NAME;

const LINKEDIN_USERNAME = "pablocrudelhom";
---

<footer>
  <div>
    <section id="social-media-links">
      <h3>Social media links</h3>
      <nav>
        <ul>
          <li>
            <a
              href={`https://github.com/${GITHUB.USERNAME}`}
              title="Overview of my GitHub Profile">GitHub</a
            >
          </li>
          <li>
            <a
              href={`https://www.linkedin.com/in/${LINKEDIN_USERNAME}/`}
              title="Take a look at my LinkedIn profile">LinkedIn</a
            >
          </li>
        </ul>
      </nav>
    </section>

    <section id="report-issue">
      <h3>Report an Issue</h3>
      <p>
        If you found a bug or have a suggestion, please
        <a
          href={githubRepoURL + "/issues"}
          title="Suggest me a change by creating an issue"
          >open an issue on GitHub</a
        >.
      </p>
    </section>
  </div>

  <aside id="copyright">
    <p>&copy; Copyright <time datetime={DATE}>{DATE}</time> Pablo Cru.</p>
    <p>
      Source code is licensed under <a
        href={githubRepoURL + "/blob/main/LICENSE"}
        title="Take a look at the permissions, limitations and conditions"
        >MIT License</a
      >.
    </p>

    {
      /*
      I use https://chooser-beta.creativecommons.org/ as a license chooser
      and they bring to me this code
      */
    }
    <p>
      <span property="dct:title">This site content</span>
      is licensed under
      <a
        href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
        style="display:inline-block;"
      >
        CC BY 4.0
        <img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
          alt="Creative Commons double cc logo"
        />
        <img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
          alt="Figure representing freedom or empowerment with a human silhouette icon"
        />
      </a>
    </p>
  </aside>
</footer>
