---
import PagesLink from "./PagesLink.astro";

const routes = [
  {
    path: "",
    name: "Astro Blog",
  },
  {
    path: "about",
    name: "About me",
  },
];
---

<nav>
  <ul>
    {
      routes.map(({ path, name }) => (
        <li>
          <PagesLink route={path} name={name} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @supports (display: flex) {
    ul {
      /* Remove default list styles */
      list-style: none;
      margin: 0;

      /* Leave some space depending on the font size */
      padding: 1em;

      /* Display children in flexbox */
      display: flex;
      gap: 1em;
    }
  }
</style>
