---
const baseUrl = import.meta.env.BASE_URL;

const routes = [
  {
    path: "",
    name: "Astro Blog",
  },
  {
    path: "about",
    name: "About me",
  },
];
---

<nav>
  <ul>
    {
      routes.map(({ path, name }) => (
        <li>
          <a href={baseUrl + path}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>
