---
interface Props {
  route: string;
  name: string;
}

const { name, route } = Astro.props;

/*
As this is deployed in GitHub Pages, I need the base url to avoid navigation
errors
*/
const baseUrl = import.meta.env.BASE_URL;
---

<a href={baseUrl + route}>{name}</a>
