---
// Inspired on: https://github.com/withastro/astro/blob/main/examples/blog/src/components/HeaderLink.astro

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

/*
As this is deployed in GitHub Pages, I need the base url to avoid navigation
errors
*/
const url = import.meta.env.BASE_URL + href;
---

<a href={url} class:list={[className]} {...props}>
  <slot />
</a>
