---
import { getCollection } from "astro:content";
import PagesLink from "./PagesLink.astro";

const allPosts = await getCollection("posts");
---

{
  allPosts?.length && (
    <ul>
      {allPosts.map((post) => (
        <li>
          <PagesLink href={"/" + post.slug}>{post.data.title}</PagesLink>
        </li>
      ))}
    </ul>
  )
}
